
<%- include("./partials/head.ejs") %>
  <body>
    <div class="container">
    <main>
      <div class="board-header">
      <h1><%= title %></h1>
    <a class="add-new" href="/new">Add New</a>
  </div>
    <% messages.forEach((message) => { %>
      <section>
        <p><%= message.text%></p>
        <p><%= message.user%></p>
        <p><%= message.added%></p>
      <a class="link" href="/message-details/<%= message.id %>">View</a>
      </section>
   <% }) %>
  </main>
</div>
  </body>
 


